body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
        display: flex;
    flex-direction: column;

    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    text-align: right;
}

.header-logo {
    text-align: left;
    color: white;
    max-width: 4em;
}

.nav-header {
    text-align: left;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    max-width: 40em;
    margin: 3em auto;
    flex-grow: 1
}

.main-title {
    text-align: center;
}

.post-title {
    text-align: center;
}

.post {
    border: 0.1em solid #ddd;
    margin: 1em 0;
    padding: 1em;
}

.comment-button {
    color: white;
    background-color: #333;
    font-weight: bold;
}

.post h1 {
    color: #333;
}

.post p {
    margin-bottom: 1em;
}

.post-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

input[type="text"],
input[type="submit"] {
    padding: 0.5em;
    margin-right: 0.8em;
}

input[type="submit"] {
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

footer nav {
    text-align: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

.footer-link:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}
